.board{
    width:78%;
    margin: auto;
    text-align: center;
}
.board ul{
     list-style-type: none;
}
.boards{
    /* background-color: aliceblue; */
    margin-top: 50px;
    height:50px;
    font: 800;
    font-size: 1.5rem;
    border-radius: 40px;
    color:black;
    /* text-transform: uppercase; */
}